.position1 {
    position: relative;
    background-color: lightcoral;
}

.position1 p {
    margin: 0;
}

.child {
    position: relative;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 20px;
}

.child2 {
    position: absolute;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 50px;
}

.child3 {
    position: fixed;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    right: 20px;
}

#test {
    background-color: lightgreen;
    padding: 10px;
    width: fit-content;
}

/* Responsive */
@media (max-width: 768px) {
    #test {
        background-color: pink;
    }
}

img {
    height: 100px;
}

.container {
    background-color: lightsalmon;
    /* flexbox */
    display: flex;
    /* Hướng sắp xếp các phần tử */
    flex-direction: row;
    /* Hướng sắp xếp theo chiều ngang */
    justify-content: space-evenly;
    /* Hướng sắp xếp theo chiều dọc */
    align-items: flex-start;
    /* Xuống dòng khi hết chỗ */
    flex-wrap: wrap;
    /* Khoảng cách giữa các phần tử */
    gap: 10px;
}