.container-items {
    display: flex;
    /* Sắp xếp theo chiều ngang */
    flex-direction: row;
    /* Xuống dòng */
    flex-wrap: wrap;
    /* Sắp xếp theo chiều ngang */
    justify-content: center;
    /* khoảng cách */
    gap: 30px;
}

/* footer.css */

.footer {
  background: #1a1a1a;
  color: #e6e6e6;
}

.footer-link {
  color: #c7c7c7;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
  padding-left: 4px;
}

.footer h5 {
  color: #ffffff;
}

.footer i {
  color: #d4af37; /* gold tone sang trọng */
}
